<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pushpendra</title>
    <link rel="stylesheet" href="static/assets/styles.css">
</head>
<body>
    <div class="wrapper">

  <div class="profile-card">
    <div class="profile-header">
      <img src="static/images/back.png" alt="">
    </div>
    <div class="profile-body">
      <div class="author-img">
        <img src="static/images/pushpendra.png" alt="">
      </div>
      <div class="name">Pushpendra</div>
      <div class="intro">
        <p>An Engineering Student
        </p>
      </div>
      <div class="social-icon">
        <ul>
          <li>
            <a href="#">
              <img src="static/images/twitter.png">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="static/images/linkedin.png">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="static/images/github.png">
              <i class="fab fa-behance"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
</body>
</html>